{% extends "base.html" %}
{% load static %}

{% block title %}
    Admin's
{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-4">
            <h3 class="text-center text-wrap text-break" style="font-weight: bold;">Welcome Admin's</h3>
        </div>
        <div>
            <div class="three-col-grid" style="padding-bottom: 550px;">
                <div class="grid-item text-center">
                    <a href="{% url 'add_hotel' %}" role="button" class="btn btn-outline-success btn-lg" style="width: 220px;">Add hotel</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'delete_hotel' %}" role="button" class="btn btn-outline-danger btn-lg" style="width: 220px;">Delete hotel</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'all_booking_static' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 220px;">All booking hotel</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'all_users' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 220px;">All users</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'users_static' %}" role="button" class="btn btn-outline-secondary btn-lg" style="width: 220px;">Static login users</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'static_booking' %}" role="button" class="btn btn-outline-secondary btn-lg" style="width: 220px;">Static booking users</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}