{% extends "base.html" %}
{% load static %}

{% block title %}
    Админка
{% endblock %}

{% block content %}
    <h3 style="text-align: center">Welcome Admin's</h3>
    <div class="l-wrap">
        <div class="three-col-grid">
            <div class="grid-item">
                <a href="{% url 'add_hotel' %}" role="button" class="btn btn-outline-success btn-lg" style="width: 213px;">Add hotel</a>
            </div>
            <div class="grid-item">
                <a href="{% url 'delete_hotel' %}" role="button" class="btn btn-outline-danger btn-lg" style="width: 213px;">Delete hotel</a>
            </div>
            <div class="grid-item">
                <a href="{% url 'all_booking_static' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 213px;">All booking hotel</a>
            </div>
            <div class="grid-item">
                <a href="{% url 'all_users' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 213px;">All users</a>
            </div>
            <div class="grid-item">
                <a href="{% url 'users_static' %}" role="button" class="btn btn-outline-secondary btn-lg" style="width: 213px;">Static login users</a>
            </div>
            <div class="grid-item">
                <a href="#link" role="button" class="btn btn-outline-secondary btn-lg" style="width: 213px;">Static booking users</a>
            </div>
        </div>
    </div>
{% endblock %}