{% extends "base.html" %}
{% load static %}

{% block title %}
    All booking hotel
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center" style="margin-top: 30px; font-weight: bold">All booking hotel</h3>
        <table class="table table-bordered" style="margin-left: -394px;">
            <tr>
                <th colspan="5" style="text-align: center;">Booking</th>
                <th colspan="3" style="text-align: center;">Payment</th>
                <th colspan="6" style="text-align: center;">Hotel</th>
                <th colspan="2" style="text-align: center;">Loyalty</th>
                <th colspan="3" style="text-align: center;">User</th>
            </tr>
            <tr style="text-align: center; font-size: 15px;">
                <td><b>UUID</b></td>
                <td><b>Date start</b></td>
                <td><b>Date end</b></td>
                <td><b>Date create</b></td>
                <td><b>Comment</b></td>
                <td><b>UUID</b></td>
                <td><b>Status</b></td>
                <td><b>Price</b></td>
                <td><b>UUID</b></td>
                <td><b>Name</b></td>
                <td><b>Description</b></td>
                <td><b>Location</b></td> <!-- city + location -->
                <td><b>Rooms</b></td>
                <td><b>Cost</b></td>
                <td><b>Status</b></td>
                <td><b>Discount</b></td>
                <td><b>UUID</b></td>
                <td><b>Username</b></td>
                <td><b>E-mail</b></td>
            </tr>
            {% for booking in all_booking %}
                {% if booking.status == 'REVERSED' or booking.status == 'CANCELED'%}
                    <tr style="font-size: 13px; background-color: #ffd5d5;">
                {% elif booking.status == 'PAID' %}
                        <tr style="font-size: 13px; background-color: #e4fccf;">
                {% else %}
                    <tr style="font-size: 13px;">
                {% endif %}
                    <td>{{ booking.booking_uid }}</td>
                    <td>{{ booking.date_start }}</td>
                    <td>{{ booking.date_end }}</td>
                    <td>{{ booking.date_create }}</td>
                    <td>{{ booking.comment }}</td>
                    <td>{{ booking.payment_uid }}</td>
                    <td>{{ booking.status }}</td>
                    <td>{{ booking.price }}</td>
                    <td>{{ booking.hotel_uid }}</td>
                    <td>{{ booking.title }}</td>
                    <td>{{ booking.short_text }}</td>
                    <td>{{ booking.cities }} {{ booking.location }}</td>
                    <td>{{ booking.rooms }}</td>
                    <td>{{ booking.cost }}</td>
                    <td>{{ booking.status_loyalty }}</td>
                    <td>{{ booking.discount }}%</td>
                    <td>{{ booking.user_uid }}</td>
                    <td>{{ booking.username }}</td>
                    <td>{{ booking.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{%block sidebar%}
{% endblock %}