{% extends "base.html" %}
{% load static %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center" style="margin-top: 30px; font-weight: bold">Users</h3>
        <br>
        <table class="table table-bordered">
            <tr>
                <th><b>Name:</b></th>
                <th><b>Surname:</b></th>
                <th><b>Registration:</b></th>
                <th><b>UUID:</b></th>
                <th><b>Role:</b></th>
                <th><b>E-mail:</b></th>
                <th><b>Username:</b></th>
            </tr>
            {% for users in all_users %}
                <tr>
                    <td>{{ users.name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.date_joined }}</td>
                    <td>{{ users.user_uid }}</td>
                    <td>{{ users.role }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}