{% extends "base.html" %}
{% load static %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center" style="margin-top: 30px; font-weight: bold">Users</h3>
        <br>
        <table class="table">
            <tr>
                <th><h5>Name:</h5></th>
                <th><h5>Surname:</h5></th>
                <th><h5>Registration:</h5></th>
                <th><h5>UUID:</h5></th>
                <th><h5>Role:</h5></th>
                <th><h5>E-mail:</h5></th>
                <th><h5>Username:</h5></th>
            </tr>
            {% for users in all_users %}
                <tr>
                    <td>{{ users.name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.date_joined }}</td>
                    <td>{{ users.user_uid }}</td>
                    <td>{{ users.role }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}