{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login in
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th style="border-color: white;" colspan="3">
                <h3 style="text-align: center">Login in</h3>
            </th>
        </tr>
        </thead>
        <tbody style="background-color: white; padding: 20px;">
        <tr>
            <td>
                <div style="margin: 10px;">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form class="form-horizontal" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control_group my-4"
                                     {% if field.errors %}has-error{% endif %}>
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions"><br/>
                            <button type="submit" class="btn btn-primary">
                                Send
                            </button>
                        </div>
                    </form>
                    <p class="py-2"><a href="{% url 'signup' %}">Create new</a></p>
                </div>
            <td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
{% endblock %}