{% block pagination %}
    <div>
        <nav>
            <ul class="pagination justify-content-left">
                {% if page_obj.has_previous %}
                    <li class="page_item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class = "page-item active">
                            <a class="page-link bg-info" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class = "page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page_item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}