{% block sidebar %}
    <div id="search" class = "font my-4 p-2">
        <p class="mr-3 h2 text-center">Find hotel:</p>
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <label>Enter city</label>
            <input type="text" name="city" id="city" class="form-control bg-light" placeholder="City" required><br>
            <label>Arrival date</label>
            <input type="date" name="date_start" id="date_start" class="form-control bg-light" required><br>
            <label>Departure date</label>
            <input type="date" name="date_end" id="date_end" class="form-control bg-light" required><br>
            <input type="submit" class="btn btn-outline-secondary btn-block" value="Search">
        </form>
    </div>
{% endblock %}