{% extends "base.html" %}
{% load static %}

{% block title %}
    Static users
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center" style="margin-top: 30px; font-weight: bold"">Static login/register/logout users</h3>
        <br>
        {% if all_users %}
        <table class="table">
            <tr>
                <th><h5>Username:</h5></th>
                <th><h5>Status:</h5></th>
                <th><h5>Date-time:</h5></th>
            </tr>
            {% for user in all_users %}
                <tr>
                    <td>{{ user.1.username }}</td>
                    <td>{{ user.1.detail }}</td>
                    <td>{{ user.1.date }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3 style="text-align: center; margin-bottom: 30px;">No static users</h3>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}