{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-8 mt-3">
    <div class="p-2 my-3">
        <h4 class=" text-center text-wrap text-break" style="font-weight: bold">Бронирование отеля {{ hotel.title }}</h4>
    </div>
    <div class="alert alert-light font">
    {% if suc or success %}
        <div class="alert alert-success">{{ suc }}{{ success }}</div>
    {% else %}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <table class = "table">
            <tr>
                <th scope="col" class="w-25" style="border: none;">Город:</th>
                <td style="border: none;">{{ hotel.cities }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Адрес:</th>
                <td>{{ hotel.location }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Дата заезда:</th>
                <td>{{ booking.date_start }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Дата выезда:</th>
                <td>{{ booking.date_end }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Ваш комментарий:</th>
                <td>{{ booking.comment }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Бронь изменена:</th>
                <td>{{ booking.date_create }}</td>
            </tr>
            <tr>
                <th scope="col" class="w-25">Статус:</th>
                <td>{{ payment.status }}</td>
            </tr>
        </table>
        {% if payment.status == "NEW" %}
            <h3>К оплате: {{ payment.price }}</h3>
            <form id="payment" action="{% url 'pay_room' payment.payment_uid %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="booking_uid" value="{{ booking.booking_uid }}">
                <input type="hidden" name="booking" value="{{ booking }}">
                <input type="hidden" name="hotel" value="{{ hotel }}">
                <input type="hidden" name="payment" value="{{ payment }}">
                <input type="submit" class="btn btn-info mr-2" value="Оплатить">
            </form>
        {% endif %}
        {% if payment.status == "NEW" or payment.status == "PAID" %}
            <form id="del" action="{% url 'del_booking' booking.booking_uid %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status" value="{{ payment.status }}">
                <input type="hidden" name="booking" value="{{ booking }}">
                <input type="hidden" name="hotel" value="{{ hotel }}">
                <input type="hidden" name="payment" value="{{ payment }}">
                <input type="submit" onclick="del_booking()" class="btn btn-danger" value="Отменить бронь">
            </form>
        {% endif %}
    {% endif %}
    </div>
    <a href="{% url 'balance' %}" class="btn btn-info">Мои бронирования</a>
</div>
{% endblock %}